* {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #bbb;
}

#container {
    margin: 3rem auto;
    padding: 3rem 3rem;
    width: 60%;
    background: #fff;
}

/* Utility Classes */
.f {display: flex;}
.h {justify-content: center;}
.hs {justify-content: flex-start;}
.hsb {justify-content: space-between;}
.v {align-items: center;}

.text-align {
    text-align: center;
}

.horizontal-rule {
    margin-top: 4rem;
    width: 100%;
    color: #666;
}

/* .label {
    position: relative;
} */

.middle-tags {
    position: absolute;
    bottom: 20;
    left: 45%;
    padding: 0.5rem 2rem;
    border: 2px solid #666;
    width: 7rem;
    color: #515710;
}

.location {
    margin-top: 4rem;
    margin-bottom: 0.5rem;
}

/* Header */
.header {
    padding: 0.75rem;
    border-bottom: 2px solid #666;
}

.header h1 {
    color: #515710;
}

/* Competence */
.competence > p {
    padding: 0.75rem 0;
    text-align: justify;
}

.competence > h3 {
    text-decoration: underline;
}

.competence .competence-flex {
    margin: 1rem auto;
    padding: 1rem;
    width: 70%;
    border: 2px solid #666;
}

.competence .competence-flex .one {
    border-right: 2px solid #666;
}

.competence .competence-flex .two {
    padding-left: 1rem;
}

.competence .competence-flex > * {
    width: 50%;
}

/* Professional Experience */
.professional-experience ul li {
    padding: 0.3rem 1.5rem;
    list-style: none;
}